[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
uvicorn = "*"
waitress = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "flask run"
seed-db = "python seed.py"
test = "ptw -- --capture=tee-sys"
coverage = "pytest --cov-report term-missing --cov=."
